* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}
/* #8b919f #1e1e1e #2e2e2e #888888  */

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  display: flex;
  height: 150px;
  width: 25rem;
  background-color: aquamarine;
}

.keypad {
  display: flex;
  flex-direction: column;
}

.buttonRow {
  display: flex;
  flex-direction: row;
}
