* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 0 1rem;
  background-color: #f0f0f0;
}

.profileCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  color: #1e1e1e;
  background-color: #f0f0f0;
  width: 18rem;
  height: 24rem;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 3px 3px 6px #bebebe, -3px -3px 6px #ffffff;
}
.cardImg {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem 1rem 0 0;
}

.cardContent {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1.25rem;
  flex: 1;
}
.cardName {
  text-transform: capitalize;
  font-weight: 800;
}
.cardRole {
  text-transform: capitalize;
  font-size: 0.8rem;
  padding: 0.25rem 0;
  color: #999999;
}
.cardBio {
  font-style: italic;
  padding-top: 0.25rem;
}
